<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-searchbar (ionInput)="searchCoins($event)"></ion-searchbar>
<ion-list *ngIf="allcoins">
  <button ion-item *ngFor="let coin of objectKeys(allcoins)" (click)="addCoin(coin)" class="coinbtn" no-lines >
   <img width="5%" height="5%"  src="{{'https://www.cryptocompare.com/' + allcoins[coin].ImageUrl}}"> {{coin}} - {{allcoins[coin].CoinName}}  

    <ion-icon name="checkmark-circle" color="primary" item-end *ngIf="likedCoins.indexOf(coin) != '-1'" color="light"></ion-icon>
  </button>
 
</ion-list>
</ion-content>
